<h2 mat-dialog-title>Crear Departamento</h2>
<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" />
    <mat-error *ngIf="form.get('nombre')?.hasError('required')">
      El nombre es obligatorio
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>
